In [107]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from datetime import datetime

In [134]:
data_path = './PM2.5/'
year_scope = [2017, 2018, 2019, 2020, 2021, 2022]
os.listdir(data_path)
data_name_lst = [name for name in os.listdir(data_path) if name.startswith('PM2.5')]

In [135]:
data_name_lst

['PM2.5_2011_.xlsx',
 'PM2.5_2012_.xlsx',
 'PM2.5_2013_.xlsx',
 'PM2.5_2014_.xlsx',
 'PM2.5_2015_.xlsx',
 'PM2.5_2016_.xlsx',
 'PM2.5_2017_.xlsx',
 'PM2.5_2018_.xlsx',
 'PM2.5_2019_.xlsx',
 'PM2.5_2020_.xlsx',
 'PM2.5_2021_.xlsx',
 'PM2.5_2022_.xlsx']

In [138]:
a = []
for i in year_scope:
    for j in data_name_lst:
        if str(i) in j:
            a.append(j)

In [139]:
a

['PM2.5_2017_.xlsx',
 'PM2.5_2018_.xlsx',
 'PM2.5_2019_.xlsx',
 'PM2.5_2020_.xlsx',
 'PM2.5_2021_.xlsx',
 'PM2.5_2022_.xlsx']

## Helping Functions

In [109]:
def load_PM_data(data_path):
    PM_data = {}
    data_name_lst = [name for name in os.listdir(data_path) if name.startswith('PM2.5')]
    for name in data_name_lst:
        a_df = pd.read_excel(os.path.join(data_path, name), sheet_name='PM2.5')
        PM_data[name.split('_')[1]] = a_df
    return PM_data

def load_selected_PM_data(data_path, selected_data_name):
    PM_data = {}
    data_name_lst = selected_data_name
    for name in data_name_lst:
        a_df = pd.read_excel(os.path.join(data_path, name), sheet_name='PM2.5')
        PM_data[name.split('_')[1]] = a_df
    return PM_data

In [110]:
def check_station(ref_station, variable_station):
    ref_columns = [1]*len(ref_station)
    for idx, station_name in enumerate(ref_station):
        if station_name not in variable_station:
            ref_columns[idx] = 0
    return ref_columns

def made_locate_station(ref_name, var_name_lst, data_path):
    locate_lst = []
    ref_station= pd.read_excel(os.path.join(data_path, ref_name), sheet_name='station_detail')['รหัสสถานี'].to_list()
    for idx in range(len(var_name_lst)):
        variable_station = pd.read_excel(os.path.join(data_path, var_name_lst[idx]), sheet_name='station_detail')['รหัสสถานี'].to_list()
        locate_lst.append(check_station(ref_station, variable_station))
    return np.array(locate_lst), ref_station

## Working Space

In [111]:
# 2017 - 2022
selected_data_name = data_name_lst[6:]

In [112]:
df0 = pd.read_excel(os.path.join(data_path, selected_data_name[0]), sheet_name='station_detail')
df1 = pd.read_excel(os.path.join(data_path, selected_data_name[1]), sheet_name='station_detail')

In [113]:
df1.head()

,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี
0,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยาบางนา
1,10T,แขวงคลองจั่น เขตบางกะปิ กทม.,เคหะชุมชนคลองจั่น
2,11T,แขวงดินแดง เขตดินแดง กทม.,สนามกีฬาการเคหะชุมชนห้วยขวาง
3,59T,แขวงพญาไท เขตพญาไท กทม.,กรมประชาสัมพันธ์
4,61T,แขวงพลับพลา เขตวังทองหลาง กทม.,โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี)

In [114]:
locate_lst, ref_station = made_locate_station(selected_data_name[-1], selected_data_name, data_path)

In [115]:
df = pd.DataFrame(locate_lst, columns=ref_station)
df_year = pd.DataFrame(year_scope, columns=['years'])
df = df_year.join(df)
df = df.loc[:,~df.columns.duplicated()].copy()
df

,years,02T,05T,10T,11T,12T,59T,61T,03T,50T,...,98T,42T,43T,44T,62T,63T,78T,80T,89T,93T
0,2017,0,1,0,0,0,1,1,0,1,...,0,0,0,1,1,1,0,1,0,0
1,2018,0,1,1,1,0,1,1,1,1,...,0,1,0,1,1,1,0,1,0,0
2,2019,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,0,0
3,2020,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,0,0
4,2021,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
5,2022,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [116]:
# PM_data = load_PM_data(data_path)
PM_data = load_selected_PM_data(data_path, selected_data_name)

In [127]:
def match_year_station(PM_data, locate_df):
    PM_data_work = PM_data.copy()
    station_lst = locate_df.columns[1:]
    stations_dict = {}
    for idx_station, now_station in enumerate(station_lst):
        year_station = locate_df['years'][locate_df[now_station] == 1].to_list()
        merge_switch = 0
        for a_year in year_station:
            a_year_df = PM_data[f'{a_year}'][[now_station]].rename(columns={now_station:f'{a_year}'})
            a_year_df['Date'] = PM_data[f'{a_year}']['Date'].apply(lambda x: datetime.strftime(x, '%m_%d'))
            if merge_switch == 0:
                station_df = a_year_df
            else:
                station_df = pd.merge(station_df, a_year_df, on='Date')
            merge_switch += 1
        stations_dict[now_station] = station_df
    return stations_dict

In [128]:
stations_dict = match_year_station(PM_data, df)

In [13]:
def sort_columns(dct):
    for key, val in dct.items():
        a = dct[key]
        columns_lst = ['Date']
        num_column = []
        for col_name in a.columns:
            try:
                num_column.append(int(col_name))
            except Exception:
                continue
        num_column = np.array(sorted(num_column)[::-1]).astype(str)
        a = a[np.append(columns_lst, num_column)]
        dct[key] = a
    return dct

In [14]:
new_stations_dict = sort_columns(stations_dict)

In [16]:
def fill_na_a_station(df):
    if df.shape[1] > 2:
        for idx in range(1, len(df.columns)-1):
            df_year = df[df.columns[idx]]
            df_before_year = df[df_year.isna()][df.columns[idx+1:]]
            fill_value = df_before_year.sum(axis=1) / (~df_before_year.isna()).sum(axis=1)
            full_df_year = df_year.fillna(fill_value)
            df[df.columns[idx]] = full_df_year
    return df


def fill_na_all_station(stations_dict):
    new_stations_dict = {}
    for key, val in stations_dict.items():
        new_stations_dict[key] = fill_na_a_station(val)
    return new_stations_dict

In [17]:
new_stations_dict_2 = fill_na_all_station(new_stations_dict)

In [18]:
new_stations_dict_2

{'02T':       Date  2022  2021  2020  2019
 0    01_01  23.0  27.0  20.0   NaN
 1    01_02  24.0  32.0  26.0   NaN
 2    01_03  27.0  46.0  32.0   NaN
 3    01_04  34.0  39.0  37.0   NaN
 4    01_05  43.0  50.0  45.0   NaN
 ..     ...   ...   ...   ...   ...
 360  12_27  39.0  36.0  41.0  36.0
 361  12_28  48.0  19.0  27.0  36.0
 362  12_29  43.0  19.0  36.0  41.0
 363  12_30  27.0  23.0  36.0  37.0
 364  12_31  29.0  23.0  23.0  41.0

 [365 rows x 5 columns],
 '05T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  21.0    20    22  15.0  17.0  33.0
 1    01_02  24.0    25    24  21.0  25.0  28.0
 2    01_03  27.0    37    28  24.0  34.0  31.0
 3    01_04  33.0    31    35  27.0  41.0  37.0
 4    01_05  43.0    31    41  33.0  42.0  45.0
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  35.0    29    32  36.0  60.0  38.0
 361  12_28  43.0    17    16  37.0  65.0  18.0
 362  12_29  38.0    19    24  40.0  25.0  14.0
 363  12_30  24.0    23    21  39.0  14.0  14.0
 364  12_31  24.0    25    17  33.0  17.0  15.0

 [365 rows x 7 columns],
 '10T':       Date  2022  2021  2020  2019  2018
 0    01_01  17.0  22.0  18.0  20.0   NaN
 1    01_02  20.0  26.0  20.0  26.0   NaN
 2    01_03  22.0  33.0  24.0  26.0   NaN
 3    01_04  29.0  32.0  31.0  32.0   NaN
 4    01_05  29.0  31.0  33.0  37.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27  30.0  23.0  28.0  29.0  61.0
 361  12_28  33.0  15.0  23.0  30.0  62.0
 362  12_29  33.0  13.0  28.0  32.0  22.0
 363  12_30  22.0  18.0  30.0  32.0  19.0
 364  12_31  23.0  18.0  22.0  32.0  22.0

 [365 rows x 6 columns],
 '11T':       Date  2022  2021  2020  2019  2018
 0    01_01  20.0    25  23.0  22.0   NaN
 1    01_02  19.0    27  26.0  21.0   NaN
 2    01_03  23.0    41  31.0  25.0   NaN
 3    01_04  29.0    36  35.0  29.0   NaN
 4    01_05  25.0    32  40.0  36.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27  32.0    23  29.0  38.0  55.0
 361  12_28  36.0    11  24.0  35.0  62.0
 362  12_29  35.0    15  29.0  39.0  26.0
 363  12_30  25.0    18  27.0  37.0  20.0
 364  12_31  27.0    20  20.0  40.0  21.0

 [365 rows x 6 columns],
 '12T':       Date  2022  2021  2020  2019
 0    01_01  20.0  22.0  17.0   NaN
 1    01_02  20.0  27.0  21.0   NaN
 2    01_03  22.0  40.0  24.0   NaN
 3    01_04  29.0  38.0  35.0   NaN
 4    01_05  33.0  44.0  36.0   NaN
 ..     ...   ...   ...   ...   ...
 360  12_27  30.0  27.0  31.0  34.0
 361  12_28  30.0  17.0  22.0  33.0
 362  12_29  31.0  16.0  27.0  37.0
 363  12_30  23.0  18.0  27.0  38.0
 364  12_31  26.0  19.0  19.0  29.0

 [365 rows x 5 columns],
 '59T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  16.0    20  20.0  23.0  21.0  21.0
 1    01_02  17.0    23  24.0  23.0  26.0  19.0
 2    01_03  21.0    38  27.0  24.0  38.0  19.0
 3    01_04  27.0    36  34.0  28.0  39.0  21.0
 4    01_05  31.0    28  38.0  35.0  51.0  29.0
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  25.0    23  28.0  33.0  49.0   NaN
 361  12_28  27.0    11  18.0  33.0  60.0  21.0
 362  12_29  26.0    14  25.0  36.0  18.0  15.0
 363  12_30  19.0    15  25.0  35.0  19.0  22.0
 364  12_31  18.0    17  17.0  36.0  14.0  18.0

 [365 rows x 7 columns],
 '61T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  19.0  25.0  20.0  29.0  30.0  28.0
 1    01_02  21.0  26.0  26.0  30.0  33.0  27.0
 2    01_03  24.0  29.0  32.0  37.0  42.0  32.0
 3    01_04  27.0  28.0  37.0  32.0  45.0  34.0
 4    01_05  31.0  24.0  42.0  39.0  53.0  40.0
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  28.0  24.0  31.0  35.0  46.0  46.0
 361  12_28  30.0  17.0  25.0  37.0  26.0  26.0
 362  12_29  29.0  18.0  29.0  41.0  20.0  20.0
 363  12_30  20.0  19.0  27.0  38.0  22.0  22.0
 364  12_31  22.0  21.0  22.0  41.0  24.0  24.0

 [365 rows x 7 columns],
 '03T':       Date  2022  2021  2020  2019  2018
 0    01_01  23.0  24.0  21.0  25.0   NaN
 1    01_02  24.0  29.0  28.0  25.0   NaN
 2    01_03  31.0  44.0  32.0  29.0   NaN
 3    01_04  37.0  46.0  38.0  33.0   NaN
 4    01_05  45.0  67.0  51.0  43.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27  44.0  41.0  48.0  45.0  71.0
 361  12_28  52.0  22.0  58.0  38.0  71.0
 362  12_29  50.0  19.0  45.0  40.0  29.0
 363  12_30  27.0  24.0  30.0  39.0  21.0
 364  12_31  34.0  25.0  20.0  39.0  20.0

 [365 rows x 6 columns],
 '50T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  24.0  25.0  22.0  22.0  27.0   NaN
 1    01_02  24.0  31.0  27.0  25.0  30.0   NaN
 2    01_03  27.0  44.0  29.0  28.0  40.0   NaN
 3    01_04  35.0  41.0  39.0  31.0  45.0   NaN
 4    01_05  43.0  41.0  44.0  34.0  51.0   NaN
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  39.0  33.0  35.0  37.0  44.0  45.0
 361  12_28  45.0  19.0  25.0  36.0  46.0  29.0
 362  12_29  43.0  20.0  31.0  43.0  25.0  24.0
 363  12_30  28.0  22.0  29.0  39.0  24.0  24.0
 364  12_31  31.0  23.0  21.0  36.0  22.0  23.0

 [365 rows x 7 columns],
 '52T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  23.0    26  21.0    28  31.0  34.0
 1    01_02  25.0    32  27.0    30  37.0  32.0
 2    01_03  28.0    44  33.0    34  50.0  34.0
 3    01_04  35.0    37  39.0    37  53.0  37.0
 4    01_05  45.0    48  45.0    46  58.0  45.0
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  38.0    37  40.0    35  68.0  52.0
 361  12_28  47.0    19  23.0    35  75.0  37.0
 362  12_29  41.0    19  31.0    43  33.0  31.0
 363  12_30  25.0    23  30.0    40  25.0  31.0
 364  12_31  28.0    23  21.0    40  25.0  28.0

 [365 rows x 7 columns],
 '53T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  27.0  26.0  21.0    27    15   NaN
 1    01_02  27.0  33.0  28.0    30    17   NaN
 2    01_03  32.0  48.0  30.0    33    22   NaN
 3    01_04  40.0  49.0  35.0    39    24   NaN
 4    01_05  41.0  35.0  40.0    51    27   NaN
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  39.6  35.0  35.0    37    66  25.0
 361  12_28  33.0  21.0  25.0    33    68  18.0
 362  12_29  28.0  23.0  33.0    39    30  15.0
 363  12_30  27.2  26.0  31.0    37    26  16.0
 364  12_31  26.4  28.0  20.0    43    27  14.0

 [365 rows x 7 columns],
 '54T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  29.0  28.0  23.0  31.0   NaN   NaN
 1    01_02  28.0  33.0  30.0  30.0   NaN   NaN
 2    01_03  30.0  47.0  36.0  35.0   NaN   NaN
 3    01_04  40.0  55.0  44.0  40.0   NaN   NaN
 4    01_05  50.0  42.0  46.0  47.0   NaN   NaN
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  36.0  49.0  52.0  49.0  69.0   NaN
 361  12_28  42.0  28.0  43.0  40.0  75.0   NaN
 362  12_29  43.0  26.0  45.0  44.0  43.0   NaN
 363  12_30  27.0  28.0  41.0  42.0  31.0   NaN
 364  12_31  29.0  25.0  22.0  45.0  28.0   NaN

 [365 rows x 7 columns],
 '08T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  23.0  25.0    29  28.0  31.0  28.0
 1    01_02  22.0  31.0    32  34.0  33.0  26.0
 2    01_03  27.0  44.0    38  35.0  40.0  28.0
 3    01_04  32.0  37.0    48  39.0  51.0  28.0
 4    01_05  47.0  52.0    56  48.0  59.0  34.0
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  35.0  35.0    38  45.0  74.0  56.0
 361  12_28  39.0  18.0    22  47.0  77.0  30.0
 362  12_29  40.0  19.0    32  55.0  38.0  24.0
 363  12_30  24.0  21.0    27  52.0  28.0  26.0
 364  12_31  24.0  23.0    21  48.0  33.0  26.0

 [365 rows x 7 columns],
 '16T':       Date       2022  2021  2020  2019
 0    01_01  18.000000  18.0    16   NaN
 1    01_02  17.000000  25.0    22   NaN
 2    01_03  20.000000  40.0    27   NaN
 3    01_04  28.000000  34.0    36   NaN
 4    01_05  41.000000  46.0    44   NaN
 ..     ...        ...   ...   ...   ...
 360  12_27  29.333333  27.0    29  32.0
 361  12_28  19.333333  14.0    13  31.0
 362  12_29  25.666667  16.0    21  40.0
 363  12_30  22.666667  16.0    18  34.0
 364  12_31  24.000000  17.0    19  36.0

 [365 rows x 5 columns],
 '17T':       Date  2022  2021  2020  2019  2018
 0    01_01    17    19    16  15.0   NaN
 1    01_02    16    25    21  22.0   NaN
 2    01_03    19    35    24  26.0   NaN
 3    01_04    26    31    31  30.0   NaN
 4    01_05    35    33    41  38.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27    25    26    27  30.0  57.0
 361  12_28    29    16    14  30.0  62.0
 362  12_29    31    16    20  35.0  23.0
 363  12_30    19    17    19  32.0  13.0
 364  12_31    17    18    16  28.0  20.0

 [365 rows x 6 columns],
 '18T':       Date  2022  2021  2020  2019  2018
 0    01_01    30    29  35.0  19.0   NaN
 1    01_02    32    35  38.0  26.0   NaN
 2    01_03    33    53  41.0  29.0   NaN
 3    01_04    44    45  51.0  30.0   NaN
 4    01_05    50    68  58.0  38.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27    43    44  57.0  46.0  66.0
 361  12_28    50    28  25.0  47.0  69.0
 362  12_29    46    30  35.0  58.0  26.0
 363  12_30    30    31  33.0  53.0  18.0
 364  12_31    31    31  28.0  55.0  21.0

 [365 rows x 6 columns],
 '19T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  22.0  24.0  21.0    24  25.0   NaN
 1    01_02  22.0  28.0  22.0    28  33.0   NaN
 2    01_03  25.0  38.0  26.0    33  38.0   NaN
 3    01_04  30.0  26.0  30.0    39  55.0   NaN
 4    01_05  33.0  32.0  34.0    43  56.0   NaN
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  34.0  24.0  32.0    29  78.0  48.0
 361  12_28  32.0  20.0  19.0    30  70.0  30.0
 362  12_29  31.0  24.0  28.0    35  30.0  23.0
 363  12_30  24.0  21.0  27.0    33  21.0  24.0
 364  12_31  22.0  23.0  22.0    26  21.0  24.0

 [365 rows x 7 columns],
 '13T':       Date  2022  2021  2020  2019
 0    01_01    20  22.0  20.0  23.0
 1    01_02    20  27.0  25.0  23.0
 2    01_03    23  37.0  30.0  32.0
 3    01_04    31  32.0  35.0  33.0
 4    01_05    33  33.0  39.0  45.0
 ..     ...   ...   ...   ...   ...
 360  12_27    33  27.0  34.0  34.0
 361  12_28    38  15.0  33.0  33.0
 362  12_29    36  17.0  38.0  38.0
 363  12_30    24  19.0  37.0  37.0
 364  12_31    28  19.0  40.0  40.0

 [365 rows x 5 columns],
 '22T':       Date  2022  2021  2020  2019
 0    01_01    16  19.0  28.0   NaN
 1    01_02    17  21.0  31.0   NaN
 2    01_03    20  32.0  31.0   NaN
 3    01_04    29  26.0  37.0   NaN
 4    01_05    32  31.0  39.0   NaN
 ..     ...   ...   ...   ...   ...
 360  12_27    34  24.0  27.0  43.0
 361  12_28    38  15.0  19.0  41.0
 362  12_29    38  17.0  23.0  41.0
 363  12_30    24  17.0  25.0  44.0
 364  12_31    28  16.0  16.0  48.0

 [365 rows x 5 columns],
 '14T':       Date  2022  2021  2020  2019  2018
 0    01_01  21.0  23.0  32.0  21.0   NaN
 1    01_02  20.0  28.0  28.0  26.0   NaN
 2    01_03  27.0  40.0  33.0  37.0   NaN
 3    01_04  32.0  43.0  43.0  36.0   NaN
 4    01_05  36.0  49.0  53.0  45.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27  47.0  34.0  46.0  46.0   NaN
 361  12_28  58.0  21.0  37.0  36.0   NaN
 362  12_29  50.0  21.0  45.0  44.0  26.0
 363  12_30  33.0  18.0  42.0  46.0  16.0
 364  12_31  30.0  18.0  21.0  43.0  16.0

 [365 rows x 6 columns],
 '27T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  32.0  28.0  27.0  31.0  35.0  27.0
 1    01_02  28.0  34.0  30.0  35.0  45.0  25.0
 2    01_03  34.0  47.0  45.0  48.0  60.0  36.0
 3    01_04  43.0  49.0  58.0  48.0  79.0  49.0
 4    01_05  44.0  61.0  61.0  63.0  72.0  48.0
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  46.0  46.0  54.0  26.0  82.0  45.0
 361  12_28  56.0  34.0  16.0  28.0  96.0  28.0
 362  12_29  49.0  31.0  27.0  44.0  24.0  24.0
 363  12_30  32.0  28.0  35.0  47.0  29.0  29.0
 364  12_31  27.0  28.0  22.0  43.0  34.0  34.0

 [365 rows x 7 columns],
 '20T':       Date  2022  2021  2020  2019  2018
 0    01_01  20.0  23.0  23.0  18.0   NaN
 1    01_02  20.0  24.0  23.0  19.0   NaN
 2    01_03  23.0  34.0  29.0  22.0   NaN
 3    01_04  30.0  30.0  34.0  27.0   NaN
 4    01_05  32.0  33.0  44.0  35.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27  35.0  23.0  34.0  40.0  50.0
 361  12_28  34.0  15.0  31.0  37.0  52.0
 362  12_29  35.0  18.0  33.0  37.0  25.0
 363  12_30  27.0  17.0  32.0  41.0  16.0
 364  12_31  26.0  17.0  19.0  35.0  17.0

 [365 rows x 6 columns],
 '81T':       Date  2022  2021  2020  2019
 0    01_01  27.0  21.0  34.0   NaN
 1    01_02  24.0  30.0  27.0   NaN
 2    01_03  34.0  45.0  38.0   NaN
 3    01_04  37.0  38.0  51.0   NaN
 4    01_05  43.0  37.0  56.0   NaN
 ..     ...   ...   ...   ...   ...
 360  12_27  41.0  32.0  45.0  41.0
 361  12_28  48.0  19.0  30.0  37.0
 362  12_29  40.0  18.0  31.0  37.0
 363  12_30  29.0  22.0  41.0  54.0
 364  12_31  30.0  26.0  17.0  44.0

 [365 rows x 5 columns],
 '21T':       Date  2022  2021  2020  2019  2018
 0    01_01    15  16.0  18.0  12.0   NaN
 1    01_02    18  21.0  20.0  14.0   NaN
 2    01_03    20  30.0  32.0  21.0   NaN
 3    01_04    23  21.0  46.0  24.0   NaN
 4    01_05    27  27.0  47.0  37.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27    36  18.0  42.0  59.0  71.0
 361  12_28    35  16.0  39.0  44.0  68.0
 362  12_29    32  16.0  34.0  42.0  20.0
 363  12_30    20  16.0  31.0  48.0  13.0
 364  12_31    19  16.0  17.0  34.0  13.0

 [365 rows x 6 columns],
 '24T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  18.0  18.0  16.0  14.0  17.0  17.0
 1    01_02  17.0  22.0  22.0  15.0  21.0  17.0
 2    01_03  21.0  28.0  35.0  24.0  35.0  22.0
 3    01_04  28.0  24.0  45.0  34.0  36.0  32.0
 4    01_05  42.0  29.0  42.0  41.0  47.0  34.0
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  46.0  32.0  45.0  63.0  73.0  32.0
 361  12_28  43.0  19.0  59.0  38.0  60.0  17.0
 362  12_29  34.0  19.0  52.0  36.0  20.0  19.0
 363  12_30  23.0  15.0  31.0  30.0  12.0  16.0
 364  12_31  21.0  16.0  18.0  26.0  16.0  12.0

 [365 rows x 7 columns],
 '25T':       Date  2022  2021  2020  2019  2018
 0    01_01  14.0  36.0  25.0  15.0   NaN
 1    01_02  19.0  37.0  26.0  20.0   NaN
 2    01_03  17.0  50.0  34.0  19.0   NaN
 3    01_04  22.0  41.0  44.0  21.0   NaN
 4    01_05  24.0  42.0  48.0  31.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27  30.0  17.0  33.0  55.0  59.0
 361  12_28  27.0  12.0  42.0  46.0  56.0
 362  12_29  25.0  16.0  50.0  41.0  17.0
 363  12_30  23.0  14.0  60.0  44.0  16.0
 364  12_31  25.0  15.0  43.0  35.0  14.0

 [365 rows x 6 columns],
 '26T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  29.0  11.0  45.0  29.0  23.0  24.0
 1    01_02  27.0  12.0  40.0  32.0  35.0  25.0
 2    01_03  31.0  14.0  66.0  36.0  42.0  28.0
 3    01_04  30.0  15.0  76.0  53.0  49.0  35.0
 4    01_05  39.0  14.0  71.0  55.0  48.0  39.0
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  45.0  32.0  16.0  57.0  42.0  23.0
 361  12_28  51.0  31.0  14.0  53.0  60.0  11.0
 362  12_29  46.0  29.0  15.0  61.0  59.0  12.0
 363  12_30  40.0  30.0  15.0  59.0  24.0  14.0
 364  12_31  35.0  30.0  10.0  59.0  21.0  16.0

 [365 rows x 7 columns],
 '79T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  26.0  23.0    38  23.0  26.0   NaN
 1    01_02  24.0  28.0    29  35.0  31.0   NaN
 2    01_03  27.0  40.0    43  39.0  36.0   NaN
 3    01_04  29.0  33.0    51  45.0  44.0   NaN
 4    01_05  33.0  35.0    56  48.0  47.0   NaN
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  21.0  25.0    29  67.0  39.0  15.0
 361  12_28  19.0  24.0    34  58.0  56.0   8.0
 362  12_29  20.0  24.0    26  52.0  43.0  15.0
 363  12_30  15.0  20.0    32  51.0  14.0  20.0
 364  12_31  15.0  26.0    19  48.0  18.0  19.0

 [365 rows x 7 columns],
 '84T':       Date  2022  2021  2020
 0    01_01  24.0  17.0   NaN
 1    01_02  24.0  21.0   NaN
 2    01_03  30.0  36.0   NaN
 3    01_04  27.0  34.0   NaN
 4    01_05  36.0  32.0   NaN
 ..     ...   ...   ...   ...
 360  12_27  47.0  24.0  22.0
 361  12_28  58.0  19.0  17.0
 362  12_29  59.0  16.0  18.0
 363  12_30  41.0  17.0  22.0
 364  12_31  39.0  21.0  15.0

 [365 rows x 4 columns],
 '85T':       Date  2022  2021
 0    01_01    21  19.0
 1    01_02    21  26.0
 2    01_03    22  41.0
 3    01_04    31  35.0
 4    01_05    37  34.0
 ..     ...   ...   ...
 360  12_27    37  22.0
 361  12_28    48  17.0
 362  12_29    37  22.0
 363  12_30    25  17.0
 364  12_31    24  20.0

 [365 rows x 3 columns],
 '99T':       Date  2022
 0    01_01   NaN
 1    01_02   NaN
 2    01_03   NaN
 3    01_04   NaN
 4    01_05   NaN
 ..     ...   ...
 360  12_27  32.0
 361  12_28  31.0
 362  12_29  28.0
 363  12_30  17.0
 364  12_31  18.0

 [365 rows x 2 columns],
 '100T':       Date  2022
 0    01_01   NaN
 1    01_02   NaN
 2    01_03   NaN
 3    01_04   NaN
 4    01_05   NaN
 ..     ...   ...
 360  12_27  27.0
 361  12_28  22.0
 362  12_29  26.0
 363  12_30  14.0
 364  12_31  13.0

 [365 rows x 2 columns],
 '46T':       Date  2022  2021  2020  2019  2018  2017
 0    01_01  20.0  32.0    20  24.0  16.0   NaN
 1    01_02  26.0  39.0    21  27.0  20.0   NaN
 2    01_03  30.0  54.0    24  24.0  23.0   NaN
 3    01_04  35.0  32.0    28  30.0  20.0  37.0
 4    01_05  44.0  44.0    25  38.0  36.0  42.0
 ..     ...   ...   ...   ...   ...   ...   ...
 360  12_27  38.4  21.0    65  32.0  45.0  29.0
 361  12_28  33.8  22.0    70  28.0  31.0  18.0
 362  12_29  32.2  20.0    66  37.0  21.0  17.0
 363  12_30  21.8  20.0    24  36.0  18.0  11.0
 364  12_31  20.0  16.0    24  31.0  18.0  11.0

 [365 rows x 7 columns],
 '47T':       Date  2022  2021  2020  2019
 0    01_01  16.0    21  15.0   NaN
 1    01_02  22.0    25  19.0   NaN
 2    01_03  19.0    36  24.0   NaN
 3    01_04  26.0    25  27.0   NaN
 4    01_05  38.0    42  28.0   NaN
 ..     ...   ...   ...   ...   ...
 360  12_27  37.0    14  39.0  44.0
 361  12_28  34.0    15  42.0  32.0
 362  12_29  27.0    16  44.0  35.0
 363  12_30  27.0    13  26.0  34.0
 364  12_31  21.0    14  19.0  21.0

 [365 rows x 5 columns],
 '72T':       Date  2022  2021  2020  2019  2018
 0    01_01  16.0  25.0  13.0  11.0   NaN
 1    01_02  17.0  30.0  17.0  15.0   NaN
 2    01_03  20.0  30.0  16.0  17.0   NaN
 3    01_04  28.0  28.0  19.0  15.0   NaN
 4    01_05  31.0  25.0  23.0  21.0   NaN
 ..     ...   ...   ...   ...   ...   ...
 360  12_27  35.0  21.0  20.0  43.0  23.0
 361  12_28  30.0  16.0  29.0  25.0  22.0
 362  12_29  25.0  21.0  29.0  26.0  15.0
 363  12_30  29.0  24.0  23.0  29.0  12.0
 364  12_31  25.0  14.0  19.0  25.0   9.0

 [365 rows x 6 columns],
 '82T':       Date  2022  2021  2020
 0    01_01   5.0  32.0   NaN
 1    01_02   8.0  57.0   NaN
 2    01_03  13.0  73.0   NaN
 3    01_04  12.0  47.0   NaN
 4    01_05  15.0  48.0   NaN
 ..     ...   ...   ...   ...
 360  12_27  33.0   6.0  50.0
 361  12_28  23.0   8.0  51.0
 362  12_29  21.0  10.0  67.0
 363  12_30  22.0   6.0  28.0
 364  12_31  24.0   6.0  26.0

 [365 rows x 4 columns],
 '83T':       Date  2022  2021  2020
 0    01_01    12  14.0   NaN
 1    01_02    12  24.0   NaN
 2    01_03    12  23.0   NaN
 3    01_04    15  15.0   NaN
 4    01_05    21  34.0   NaN
 ..     ...   ...   ...   ...
 360  12_27    23   4.0  15.0
 361  12_28    21   5.0  19.0
 362  12_29    13   5.0  21.0
 363  12_30    16   6.0  15.0
 364  12_31    18  10.0  17.0

 [365 rows x 4 columns],
 '88T':       Date  2022  2021
 0    01_01  14.0  21.0
 1    01_02  17.0  25.0
 2    01_03  23.0  24.0
 3    01_04  22.0  28.0
 4    01_05  34.0  28.0
 ..     ...   ...   ...
 360  12_27  30.0   6.0
 361  12_28  24.0  11.0
 362  12_29  30.0  17.0
 363  12_30  33.0  14.0
 364  12_31  39.0  14.0

 [365 rows x 3 columns],
 '90T':       Date  2022  2021
 0    01_01    18   NaN
 1    01_02    15   NaN
 2    01_03    16   NaN
 3    01_04    18   NaN
 4    01_05    22   NaN
 ..     ...   ...   ...
 360  12_27    13   7.0
 361  12_28    12   8.0
 362  12_29    15   7.0
 363  12_30    19   8.0
 364  12_31    20  11.0

 [365 rows x 3 columns],
 '91T':       Date  2022  2021
 0    01_01  11.0   NaN
 1    01_02  13.0   NaN
 2    01_03  15.0   NaN
 3    01_04  23.0   NaN

In [69]:
def convert_to_original_yearfill(stations_dict, PM_data):
    new_PM_data = {}
    for year_key, year_df in PM_data.items():
        print('Current :', year_key)
        uniform_df = pd.DataFrame({'Date': year_df['Date'].apply(lambda x: datetime.strftime(x, '%m_%d'))})
        for station_key, station_df in stations_dict.items():
            if year_key in station_df.columns:
                station_in_year = station_df[['Date', year_key]].rename(columns={year_key:station_key}).drop_duplicates(subset=['Date'])
                uniform_df = pd.merge(uniform_df, station_in_year, on='Date')
        new_PM_data[year_key] = uniform_df
    return new_PM_data

In [76]:
new_PM_data = convert_to_original_yearfill(new_stations_dict_2, PM_data)

Current : 2017
Current : 2018
Current : 2019
Current : 2020
Current : 2021
Current : 2022

In [77]:
def save_to_csv(PM_data, save_path):
    for key, val in PM_data.items():
        val['Date'] = val['Date'].apply(lambda x: key + '_' + x)
        val.to_csv(os.path.join(save_path, f'fill_by_years.{key}.csv'), index=False)

In [78]:
# save_to_csv(new_PM_data, './Clean_Data/')