In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from datetime import datetime

In [20]:
%run Data_Cleaning_Utils.ipynb

In [21]:
data_path = './PM2.5/'
selected_years = [2017, 2018, 2019, 2020, 2021, 2022]
os.listdir(data_path)
data_name_lst = [name for name in os.listdir(data_path) if name.startswith('PM2.5')]
selected_files = []
for i in selected_years:
    for j in data_name_lst:
        if str(i) in j:
            selected_files.append(j)
save_path = './Final_Data/'

In [22]:
PM_data = load_selected_PM_data(data_path, selected_files)
print('--------Before Filling--------')
check_dict = Check_for_NonMissing(PM_data)
print('-------------------------------------')

# Fill nan by their own record.
fill_nan_year = Fill_NaN_YearRecord(data_path, selected_years)
PM_data_0 = fill_nan_year.main()
print('--------After Fill by their record--------')
check_dict = Check_for_NonMissing(PM_data_0)
print('-------------------------------------')

# Fill nan by the data from same provide.
label_provide_df = made_provide_station(selected_files, data_path)
fill_nan_provide = Fill_NaN_Label(data_path, selected_years, label_provide_df)
PM_data_1 = fill_nan_provide.main(PM_data=PM_data_0)
print('--------After Fill by provide--------')
check_dict = Check_for_NonMissing(PM_data_1)
print('-------------------------------------')

# Fill nan by the data from same sector of thailand.
meteorology_label = meteorology_labeling()
label_df = made_sector_station(selected_files, data_path, meteorology_label)
fill_nan_provide = Fill_NaN_Label(data_path, selected_years, label_df)
# fill_nan_provide.save_name = 'FillByAll3'
PM_data_2 = fill_nan_provide.main(PM_data=PM_data_1)
print('--------After Fill by sector--------')
check_dict = Check_for_NonMissing(PM_data_2)
print('-------------------------------------')

# Fill nan by interpolation between themselves data
fill_nan_inter = Fill_NaN_Interpolation(data_path, selected_files)
fill_nan_inter.save_name = 'FillByAll4'
fill_nan_inter.inter_method = 'from_derivatives'
PM_data_3 = fill_nan_inter.main(PM_data=PM_data_2, save_path=save_path)
# PM_data_3 = fill_nan_inter.main(PM_data=PM_data_2)
print('--------After interpolating--------')
check_dict = Check_for_NonMissing(PM_data_3)
print('-------------------------------------')

--------Before Filling--------
2017 Num: 2359 Failed
2018 Num: 7905 Failed
2019 Num: 2893 Failed
2020 Num: 679 Failed
2021 Num: 1044 Failed
2022 Num: 2711 Failed
-------------------------------------
--------After Fill by their record--------
2017 Num: 2356 Failed
2018 Num: 7449 Failed
2019 Num: 2501 Failed
2020 Num: 207 Failed
2021 Num: 719 Failed
2022 Num: 1844 Failed
-------------------------------------
--------After Fill by provide--------
2017 Num: 1342 Failed
2018 Num: 3136 Failed
2019 Num: 839 Failed
2020 Num: 191 Failed
2021 Num: 719 Failed
2022 Num: 1840 Failed
-------------------------------------
--------After Fill by sector--------
2017 Num: 312 Failed
2018 Num: 3 Failed
2019 Num: 0 Pass
2020 Num: 0 Pass
2021 Num: 0 Pass
2022 Num: 0 Pass
-------------------------------------
--------After interpolating--------
2017 Num: 160 Failed
2018 Num: 0 Pass
2019 Num: 0 Pass
2020 Num: 0 Pass
2021 Num: 0 Pass
2022 Num: 0 Pass
-------------------------------------

In [23]:
year = '2017'
station = '46T'

PM_data[year][station].head(20)

0      NaN
1      NaN
2      NaN
3     37.0
4     42.0
5     37.0
6     50.0
7      NaN
8      NaN
9      NaN
10    40.0
11    57.0
12    45.0
13    36.0
14     NaN
15     NaN
16    26.0
17     NaN
18    37.0
19    24.0
Name: 46T, dtype: float64

In [24]:
PM_data_0[year][station].head(20)

0      NaN
1      NaN
2      NaN
3     37.0
4     42.0
5     37.0
6     50.0
7      NaN
8      NaN
9      NaN
10    40.0
11    57.0
12    45.0
13    36.0
14     NaN
15     NaN
16    26.0
17     NaN
18    37.0
19    24.0
Name: 46T, dtype: float64

In [25]:
PM_data_1[year][station].head(20)

0      NaN
1      NaN
2      NaN
3     37.0
4     42.0
5     37.0
6     50.0
7      NaN
8      NaN
9      NaN
10    40.0
11    57.0
12    45.0
13    36.0
14     NaN
15     NaN
16    26.0
17     NaN
18    37.0
19    24.0
Name: 46T, dtype: float64

In [26]:
PM_data_2[year][station].head(20)

0      NaN
1      NaN
2      NaN
3     37.0
4     42.0
5     37.0
6     50.0
7      NaN
8      NaN
9      NaN
10    40.0
11    57.0
12    45.0
13    36.0
14     NaN
15     NaN
16    26.0
17     NaN
18    37.0
19    24.0
Name: 46T, dtype: float64

In [27]:
PM_data_3[year][station].head(20)

0           NaN
1           NaN
2           NaN
3     37.000000
4     42.000000
5     37.000000
6     50.000000
7     47.500000
8     45.000000
9     42.500000
10    40.000000
11    57.000000
12    45.000000
13    36.000000
14    32.666667
15    29.333333
16    26.000000
17    31.500000
18    37.000000
19    24.000000
Name: 46T, dtype: float64